<div class="finder-container">
  @if (showBackButton) {
    <button
      type="button"
      (click)="onBackButtonClicked()"
      class="back-button"
    >
      Volver
    </button>
  }
  <div class="finder-body">
    <form [formGroup]="searchForm" (submit)="searchForm.reset()">
      <input
        type="text"
        formControlName="searchQuery"
        placeholder="Buscar libros..."
        (keyup)="searchBooks($event)"
      />
      <button 
        type="button" 
        (click)="resetSearch()" 
        aria-label="Clear search"
      >
        &#x2715;
      </button>
    </form>
  </div>
</div>
