.finder-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 12px;
}

.finder-body {
  width: 100%;
  text-align: right;
}
