
.header {
  display: flex;
  align-items: center;
  padding: 9px;
  background-image: url('/assets/head_4500x1500.png');
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 150px;
  height: 150px;
  margin-right: 10px;
    @media screen and (max-width: 450px) {
      width: 120px;
      height: 120px;
    }
}
.header-text {
  display: flex;
  flex-direction: column;
  strong {
    font-size: 0.8rem;
    color: #555555;
    text-shadow: 2px 2px 2px #00000057;
  }
}

.header-title {
  margin-bottom: 0.4rem !important;
  text-align: center;
  width: 100%;
  text-shadow: 1px 2px 3px #00000066;
}

.main-container {
  margin: 0 auto;
  padding: 0 100px;

  @media screen and (max-width: 450px) {
    padding: 0;
  }
}

.book-finder {
  display: flex;
  margin: 0.5rem 10px !important;
  @media screen and (max-width: 450px) {
    margin: 0.5rem 0px !important;
  } 
}
  
.book-card-container {
  display: grid;
  margin: 0.5rem 10px !important;
  padding-bottom: 36px;


  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 18px;

    .book-card {
      width: 345px;
    }
  }


  @media (max-width: 1280px) {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;

    .book-card {
      width: 345px;
    }
  }

  @media (max-width: 1024px) {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;

    .book-card {
      width: 345px;
    }
  }
  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    
    .book-card {
      width: 300px;
    }
  }
    
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f3cc6f;
  color: #333;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  font-size: 27px;
  font-weight: 900;
  
  &:hover {
    background-color: #ddba66;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  &:active {
    transform: scale(0.95);
  }

}

.footer {
  position: fixed;
  bottom: 0;
  left: 0px;
  width: 100%;
  background-color: #f3cc6f;
  color: #333;
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  
  a {
    color: #574a00;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.auth-nav {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  a {
    cursor: pointer;
    color: #555555;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}