
.header {
  display: flex;
  align-items: center;
  padding: 9px;
  background-color: #ece7ca;
}

.logo {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}
.header-text {
  display: flex;
  flex-direction: column;
}

.header-title {
  margin-bottom: 0.4rem !important;
  text-align: center;
  width: 100%;
}


.book-finder {
  display: flex;
  margin: 0.5rem 0 !important;
}

.book-card-container {
  display: grid;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 18px;

    .book-card {
      width: 345px;
    }
  }


  @media (max-width: 1024px) {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;

    .book-card {
      width: 345px;
    }
  }
  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    align-items: center;

    .book-card {
      width: 300px;
    }
  }

}