<div class="header">
  <img
    src="assets/serenisima-logo.png"
    alt="Serenisima Logo"
    class="logo"
  />
  <div class="header-text">
    <h1 class="header-title">Biblioteca de la Serenisima</h1>
    <strong>V0.4.0 (beta)</strong>
  </div>
  <nav class="auth-nav">
    <a routerLink="/login" *ngIf="!(isLoggedIn$ | async)">Login</a>
    <a routerLink="/register" *ngIf="!(isLoggedIn$ | async)">Register</a>
    <a (click)="logout()" *ngIf="isLoggedIn$ | async">Logout</a>
  </nav>
</div>
<div class="main-container">
  <finder
    class="book-finder"
    [showBackButton]="bookDetailView"
    (searchEvent)="onSearch($event)"
    (backEvent)="onMainViewClick()"
  ></finder>
  @if (selectedBook) {
    <book-detail
      [book]="selectedBook"
    ></book-detail>
  } @else {
    <app-book
      class="book-card-container"
      [findBook]="searchTerm"
      (selectBook)="onSelectBook($event)"
    ></app-book>
  }
  <div class="footer">
    <p>
      <strong>Desarrollado por: </strong>
      <a href="https://kiocone.com">Kiocone</a>
    </p>
  </div>
  <button class="scroll-to-top" (click)="scrollToTop()">
    <div class="arrow-up-icon">&#x2B06;</div>
  </button>

</div>
