<div class="book-card">
  <div class="book-card-header">
    <img [src]="bookDetail?.coverImageUrl" alt="{{ bookDetail?.title }}" class="book-image" />
    <div class="book-details">
      <h3>{{ bookDetail?.title }}</h3>
      @if (bookDetail?.author !== ''){<p><strong>Autor:</strong> {{ bookDetail?.author }}</p>}
      @if (bookDetail?.publishedYear !== ''){<p><strong>Año:</strong> {{ bookDetail?.publishedYear }}</p>}
      @if (bookDetail?.editorial !== ''){<p><strong>Editorial:</strong> {{ bookDetail?.editorial }}</p>}
      @if (bookDetail?.isbn !== ''){<p><strong>ISBN:</strong> {{ bookDetail?.isbn }}</p>}
      @if (bookDetail?.language !== ''){<p><strong>Idioma:</strong> {{ bookDetail?.language }}</p>}
      @if (bookDetail?.genre !== ''){<p><strong>Género:</strong> {{ bookDetail?.genre }}</p>}
    </div>
  </div>
  <div class="book-card-description">
    <p>{{ bookDetail?.description }}</p>
  </div>
</div>