@if (bookDetail) {
  <div class="book-card">
    <div class="book-card-header">
      <img [src]="bookDetail.coverImageUrl" alt="{{ bookDetail.title }}" class="book-image" />
      <div class="book-details">
        <h3>{{ bookDetail.title }}</h3>
        <p><strong>Autor:</strong> {{ bookDetail.author }}</p>
        <p><strong>Año:</strong> {{ bookDetail.publishedYear }}</p>
        <p><strong>Editorial:</strong> {{ bookDetail.editorial }}</p>
        <p><strong>ISBN:</strong> {{ bookDetail.isbn }}</p>
        <p><strong>Idioma:</strong> {{ bookDetail.language }}</p>
        <p><strong>Género:</strong> {{ bookDetail.genre }}</p>
      </div>
    </div>
    <div class="book-card-description">
      <p>{{ bookDetail.description }}</p>
    </div>
  </div>
} @else {
  <p>Detalles del libro no disponibles.</p>
}